html,
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

h1 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 8.6rem;
  color: #0F1319;
  margin: 0;
}

h2 {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 8.4rem;
  margin: 0;
  color: #0F1319;
}

h3 {
  font-family: 'Gilroy';
  margin: 0;
  font-weight: 400;
  font-size: 6.5rem;
  line-height: 7.5rem;
  text-align: center;
  color: #0F1319;
}

h4 {
  font-family: 'PIPS';
  font-weight: normal;
  font-size: 6.5rem !important;
  line-height: 9.2rem !important;
  font-weight: 400;
  text-align: center;
  color: #0F1319;
}

h5 {
  font-size: 4rem;
  line-height: 4.6rem;
  font-family: 'Gilroy';
  display: block;
  margin: 0;
  font-weight: 400;
  color: #0F1319;
}

h6 {
  font-family: 'Gilroy';
  font-size: 2.9rem;
  line-height: 140%;
  display: block;
  margin: 0;
  font-weight: 400;
  color: #0F1319;
}

.header-7 {
  font-family: 'PIPS';
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 4.1rem;
  text-align: center;
  color: #0F1319;
  display: inline-block;
}

.header-8 {
  font-family: 'PIPS';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.main-text {
  font-family: 'Active Grotesk Corp';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
}

.additional-text {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.08rem;
  color: #0F1319;
}

button {
  font-family: 'Gilroy';
  font-size: 2rem;
  line-height: 2.4rem;
  color: #0F1319;
  height: 7rem;
  width: 20rem;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  background-color: #FFFFFF;
}

button::hover {
  color: white;
  background-color: #0F1319;
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-block h6 {
  margin-bottom: 7.3rem;
}

.feature-block h3 {
  margin-bottom: 10.5rem;
}

.text_blue {
  color: #3DBBEE;
}

input {
  height: 7rem;
  max-width: 49rem;
  width: 50%;
  border: 1px solid #ECECEC;
  padding: 0 1.9rem;
  border-radius: 5px;
  font-family: 'Active Grotesk Corp';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
}

input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
}

input:-ms-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
}

input::-ms-input-placeholder {
  color: #8C8C8C;
  font-weight: 400;
}

input::placeholder {
  color: #8C8C8C;
  font-weight: 400;
}

a {
  font-family: 'Active Grotesk Corp';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-decoration: underline;
  color: #0F1319;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hover-cursor {
  cursor: url("../assets/icons/cursor-hover.svg");
}

.draggable-container--is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.draggable--over {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

@media (max-width: 1000px) {
  html {
    font-size: 50% !important;
  }
}

.main-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  visibility: hidden;
}

.main-header__wrapper {
  max-width: 120rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  position: relative;
}

.main-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__navigation li {
  padding: 1.4rem 2rem;
  border-radius: 13px;
  border: 1px solid transparent;
  cursor: pointer;
}

.main-header__navigation li a {
  text-decoration: none;
}

.main-header__navigation li:hover {
  border-color: #66D1FC;
}

.main-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__contacts a {
  text-decoration: none;
}

.main-header__contacts svg:hover path {
  fill: #3DBBEE;
}

.main-header__menu {
  padding: 1.5rem 1.8rem;
  border-radius: 13px;
  border: 1px solid transparent;
  cursor: pointer;
}

.main-header__menu:hover {
  border-color: #66D1FC;
}

.main-header__menu-popup {
  border: 1px solid #66D1FC;
  border-radius: 11.2946px;
  position: absolute;
  right: 5rem;
  top: calc(100% + 2rem);
  padding: 4.5rem 9.8rem 4.5rem 5.8rem;
  background-color: #FFFFFF;
  display: none;
}

.main-header__menu-popup .menu-popup__btn-close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

.main-header__menu-popup .menu-popup_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28.4rem;
}

.main-header__menu-popup .menu-popup_row:nth-child(2) {
  margin-bottom: 3.7rem;
}

.main-header__menu-popup .menu-popup_row:nth-child(2) a:last-child:hover {
  color: #3DBBEE;
}

.main-header__menu-popup .menu-popup_row:nth-child(3) a:first-child:hover {
  color: #FF7819;
}

.main-header__menu-popup .menu-popup_row:nth-child(3) a:last-child:hover {
  color: #DA1984;
}

.main-header__menu-popup .menu-popup_row a {
  text-decoration: none;
}

.main-header__menu-popup.active {
  display: block;
}

.main-header.active {
  opacity: 1;
  visibility: visible;
}

.draggable-block {
  height: 106.1rem;
  position: relative;
  width: 100%;
}

.draggable-block .draggable {
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
}

.draggable-block .simple-office {
  padding: 1.7rem 2rem;
  border: 1px solid #3DBBEE;
  border-radius: 13px;
  position: absolute;
  background-color: #FFFFFF;
  top: 37.8rem;
  left: 76.7rem;
}

.draggable-block .simple-office::before {
  content: url("../assets/icons/done-icon.svg");
  position: absolute;
  right: -1.1rem;
  bottom: -3.2rem;
}

.draggable-block .platform {
  top: 39.7rem;
  left: 35.7rem;
}

.draggable-block .logo {
  top: 5.2rem;
  left: 20rem;
}

.draggable-block .header-8 {
  top: 52rem;
  left: 79rem;
}

.draggable-block .sky {
  top: 15rem;
  left: 25.8rem;
}

.draggable-block .note {
  top: 27.3rem;
  left: 57rem;
}

.draggable-block .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
  border: 1px solid #66D1FC;
  padding: 0 1.6rem;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.draggable-block .menu-item a {
  text-decoration: none;
}

.draggable-block .main {
  top: 4rem;
  left: 103rem;
}

.draggable-block .admin {
  top: 4rem;
  left: 114rem;
}

.draggable-block .app {
  top: 10rem;
  left: 99rem;
}

.draggable-block .booking {
  top: 10rem;
  left: 113rem;
}

.draggable-block .price-item {
  left: 129rem;
  top: 10rem;
}

.draggable-block .menu {
  width: 6rem;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 134rem;
  top: 4rem;
}

.draggable-block .phone {
  top: 82rem;
  left: 104rem;
}

.draggable-block .phone a {
  text-decoration: none;
}

.draggable-block .messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: 10rem;
  padding: 0 1.5rem;
  background-color: #66D1FC;
  border-radius: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 82rem;
  left: 128rem;
}

.draggable-block .messangers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.draggable-block .skolkovo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 22.3rem;
  border-radius: 6px 0 0 6px;
  background-color: #3DBBEE;
  color: #FFFFFF;
  padding: 2rem 0 3.2rem;
  top: 15.6rem;
  left: calc(100% - 6rem);
}

.draggable-block .skolkovo .main-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  margin-top: 6rem;
}

.draggable-block .skolkovo img {
  position: relative;
}

.draggable-block .line {
  top: 47.7rem;
  left: 23.3rem;
  width: 7.6rem;
  height: 5rem;
}

.draggable-block .cursor-blue {
  top: 68.6rem;
  left: 78.4rem;
}

.draggable-block .swiper-block {
  left: 20rem;
  top: 69rem;
  width: 38.1rem;
  height: 17rem;
}

.draggable-block .swiper-block__item {
  border: 1px solid #0F1319;
  border-radius: 2rem;
  padding: 2.6rem;
  padding-top: 6.9rem;
  width: 36rem;
  position: relative;
  background-color: #FFFFFF;
}

.draggable-block .swiper-block__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
}

.draggable-block .swiper-block__item span {
  border: none;
  padding: 0;
}

.draggable-block .swiper-block__item::before {
  content: url("../assets/icons/swiper-menu-icon.svg");
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #0F1319;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

.draggable-block .swiper-block__item_helper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #66D1FC;
  top: -1.9rem;
  right: -2.1rem;
  z-index: -1;
  border: 1px solid #0F1319;
  border-radius: 20px;
}

.draggable-block .swiper-block__item_helper::before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #0F1319;
  position: relative;
  top: 4.3rem;
}

.draggable-block .swiper-block .swiper-button-next,
.draggable-block .swiper-block .swiper-button-prev {
  width: 5rem;
  height: 5rem;
  border: 1px solid #66D1FC;
  border-radius: 13px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: auto;
  bottom: 0;
  left: auto;
}

.draggable-block .swiper-block .swiper-button-next::after,
.draggable-block .swiper-block .swiper-button-prev::after {
  display: none;
}

.draggable-block .swiper-block .swiper-button-next {
  right: 6.1rem !important;
}

.draggable-block .swiper-block .swiper-button-prev {
  right: 13.1rem !important;
}

.test-simple-office {
  width: 80%;
  max-width: 108rem;
  background-color: #66D1FC;
  padding: 4.7rem 9.5rem 6.3rem 8.5rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  position: relative;
}

.test-simple-office h5 {
  margin-bottom: 2.3rem;
  color: #FFFFFF;
}

.test-simple-office h6 {
  color: #FFFFFF;
}

.test-simple-office h6::before {
  content: url("../assets/icons/cloud-bottom.svg");
  position: absolute;
  bottom: -8rem;
  left: 40.5rem;
}

.test-simple-office::before {
  content: url("../assets/icons/cloud-left.svg");
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: -26rem;
}

.test-simple-office::after {
  content: url("../assets/icons/cloud-right.svg");
  position: absolute;
  bottom: 6.4rem;
  right: -27rem;
  z-index: -1;
}

.test-simple-office button {
  position: relative;
}

.test-simple-office button::before {
  content: url("../assets/icons/button-icon-left.svg");
  position: absolute;
  top: -1.7rem;
  left: -1.7rem;
}

.test-simple-office button::after {
  content: url("../assets/icons/button-icon-right.svg");
  position: absolute;
  bottom: -2.2rem;
  right: -1.7rem;
}

.test-simple-office button:hover {
  background-color: #0F1319;
  color: #FFFFFF;
}

.features-item {
  border: 0.1rem solid black;
  border-radius: 20px;
  position: absolute;
  background-color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3.4rem;
  color: #0F1319;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.features-item_blue {
  background: rgba(255, 255, 255, 0.42);
  border-color: #3DBBEE;
}

.mobile-app {
  padding-top: 22rem;
}

.mobile-app h6 {
  position: relative;
}

.mobile-app h6::before {
  content: '';
  display: block;
  width: 28.6rem;
  height: 8.2rem;
  background-image: url("../assets/icons/outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -2.1rem;
  right: -5.5rem;
}

.mobile-app__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 4rem;
}

.mobile-app__features::before {
  content: url("../assets/icons/cloud-2.svg");
  position: absolute;
  bottom: -6.4rem;
  right: calc(100% + 15rem);
}

.mobile-app__features img {
  width: 50rem;
  height: auto;
}

.mobile-app__features .features-item:nth-child(2) {
  top: 0;
  right: 100%;
}

.mobile-app__features .features-item:nth-child(3) {
  top: 42rem;
  right: calc(100% + 2rem);
}

.mobile-app__features .features-item:nth-child(3)::before {
  content: url("../assets/icons/sky-white.svg");
  position: absolute;
  top: -5.2rem;
  right: 0.56rem;
}

.mobile-app__features .features-item:nth-child(3)::after {
  content: url("../assets/icons/sky-blue.svg");
  position: absolute;
  top: -5.2rem;
  right: 6rem;
  z-index: -1;
  top: -11rem;
  right: -7.8rem;
}

.mobile-app__features .features-item:nth-child(4) {
  left: calc(100% - 8rem);
  top: 19rem;
}

.mobile-app__features .features-item:nth-child(4)::before {
  content: '';
  display: block;
  background-image: url("../assets/icons/line-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -8.2rem;
  right: -4.2rem;
  z-index: -1;
  width: 19.6rem;
  height: 11.6rem;
}

.mobile-app__features .features-item:nth-child(5) {
  top: 61rem;
  left: calc(100% - 13rem);
}

.booking-panel-staff {
  padding: 15rem 0 36.7rem;
}

.booking-panel-staff h6 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.booking-panel-staff h6::before {
  content: '';
  display: block;
  width: 29.6rem;
  height: 8.5rem;
  background-image: url("../assets/icons/outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -2.1rem;
  right: -5.7rem;
}

.booking-panel-staff h3 {
  position: relative;
}

.booking-panel-staff h3::before {
  content: url("../assets/icons/line-3.svg");
  position: absolute;
  top: calc(100% + 1.7rem);
  left: -2rem;
}

.booking-panel-staff__features {
  padding-top: 13rem;
  position: relative;
}

.booking-panel-staff__features img {
  width: 73rem;
}

.booking-panel-staff__features .features-item:nth-child(2) {
  top: 0;
  left: calc(100% - 20rem);
}

.booking-panel-staff__features .features-item:nth-child(3) {
  top: 6.4rem;
  right: calc(100% - 10rem);
}

.booking-panel-staff__features .features-item:nth-child(3)::before {
  content: url("../assets/icons/cloud-group.svg");
  position: absolute;
  top: calc(100% + 15rem);
  left: -2rem;
  z-index: -1;
}

.booking-panel-staff__features .features-item:nth-child(4) {
  top: 35.7rem;
  left: calc(100% - 14rem);
}

.booking-panel-staff__features .features-item:nth-child(4)::before {
  content: url("../assets/icons/cloud-3.svg");
  position: absolute;
  top: calc(100% + 22.8rem);
  right: 0;
}

.booking-panel-staff__features .features-item:nth-child(5) {
  bottom: -3rem;
  right: calc(100% - 8rem);
}

.booking-panel-manager > h6 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.booking-panel-manager > h6::before {
  content: '';
  display: block;
  width: 28.9rem;
  height: 8.4rem;
  background-image: url("../assets/icons/outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -2.2rem;
  right: -3.9rem;
}

.booking-panel-manager__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 106rem;
  position: relative;
}

.booking-panel-manager__features::before {
  content: url("../assets/icons/cloud-4.svg");
  position: absolute;
  bottom: -5rem;
  right: -9rem;
}

.booking-panel-manager__features::after {
  content: url("../assets/icons/cloud-blue-2.svg");
  position: absolute;
  bottom: 0;
  right: -6rem;
  z-index: -1;
}

.booking-panel-manager__features img {
  width: 98rem;
  margin: 0 auto;
}

.booking-panel-manager__features .features-item {
  position: relative;
  max-width: 50rem;
  width: 50%;
  margin-bottom: 6rem;
}

.booking-panel-manager__features .features-item h6 {
  margin-bottom: 1rem;
}

.booking-panel-manager__features .features-item span {
  color: #8C8C8C;
}

.booking-panel-manager__features .features-item:nth-child(2) {
  position: relative;
}

.booking-panel-manager__features .features-item:nth-child(2)::before {
  content: url("../assets/icons/outline-2.svg");
  position: absolute;
  top: 1.8rem;
  right: 1.4rem;
}

.booking-panel-manager__features .features-item:nth-child(3) {
  position: relative;
}

.booking-panel-manager__features .features-item:nth-child(3)::before {
  content: url("../assets/icons/cloud-group-2.svg");
  position: absolute;
  top: -8.2rem;
  right: -6.8rem;
}

.how-it-work {
  padding: 10rem 0 25.2rem;
  width: 90%;
  max-width: 120rem;
}

.how-it-work h4 {
  margin-bottom: 9.7rem;
  position: relative;
}

.how-it-work h4::before {
  content: '';
  display: block;
  background-image: url("../assets/icons/line-group.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -15rem;
  top: -15rem;
  width: 34.6rem;
  height: 31.4rem;
  -webkit-transform: rotate(-16.57deg);
          transform: rotate(-16.57deg);
}

.how-it-work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-it-work__description .description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 28rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.how-it-work__description .description-item img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.how-it-work__description .description-item span {
  text-align: center;
}

.how-it-work__description .description-item:nth-child(1) img {
  margin-bottom: 7.1rem;
  height: 13.5rem;
  width: auto;
}

.how-it-work__description .description-item:nth-child(2) img {
  margin-left: 4.2rem;
  width: 21.7rem;
  height: auto;
}

.how-it-work__description .description-item:nth-child(3) img {
  margin-bottom: 5.2rem;
  height: 14.1rem;
  width: auto;
}

.how-it-work__description .description-item:nth-child(3) span {
  display: inline-block;
  width: 25.4rem;
}

.problems {
  width: calc(100% - 40rem);
  max-width: 120rem;
  padding-bottom: 28.4rem;
  position: relative;
}

.problems h3 {
  margin-bottom: 17rem;
  text-align: start;
  position: relative;
}

.problems h3::before {
  content: url("../assets/icons/point-title.svg");
  position: absolute;
  left: 27.5rem;
  top: -0.5rem;
  z-index: -1;
}

.problems .header-7 {
  position: absolute;
  left: 50%;
  top: 5rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.problems .features-item {
  max-width: 34.9rem;
  position: relative;
  padding: 4rem;
}

.problems .features-item:first-child {
  margin-bottom: 12rem;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  position: relative;
}

.problems .features-item:first-child::before {
  content: url("../assets/icons/outline-block-left.svg");
  position: absolute;
  left: -2rem;
  bottom: -2.4rem;
}

.problems .features-item:first-child::after {
  content: url("../assets/icons/outline-block-right.svg");
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.problems .features-item:last-child {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  left: 7rem;
  position: relative;
}

.problems .features-item:last-child::before {
  content: url("../assets/icons/outline-block-left-2.svg");
  position: absolute;
  left: -2rem;
  bottom: -3rem;
}

.problems .features-item:last-child::after {
  content: url("../assets/icons/outline-block-right-2.svg");
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.problems img {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  width: 102.7rem;
  position: absolute;
  bottom: 15.3rem;
  left: 40rem;
}

.simple-office-advantages {
  width: calc(100% - 40rem);
  max-width: 120rem;
}

.simple-office-advantages h3 {
  width: 80rem;
  text-align: start;
  position: relative;
}

.simple-office-advantages h3::before {
  content: url("../assets/icons/point-title.svg");
  position: absolute;
  left: 51rem;
  bottom: -3rem;
  z-index: -1;
}

.simple-office-advantages__main-info {
  margin-top: 17.9rem;
  margin-bottom: 50.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.simple-office-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #0F1319;
  border-radius: 20px;
  width: 24.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.simple-office-advantages__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  min-height: 3rem;
  border-bottom: 1px solid #0F1319;
  padding: 1.6rem;
  width: 100%;
  border-radius: 19px 19px 0 0;
}

.simple-office-advantages__item-header svg:not(:last-child) {
  margin-right: 0.3rem;
}

.simple-office-advantages__item-body {
  width: 16.3rem;
  padding: 1.3rem 0 2rem;
}

.simple-office-advantages__item:nth-child(2) {
  top: -7rem;
  left: 0;
}

.simple-office-advantages__item:nth-child(2) .simple-office-advantages__item-header {
  background-color: #66D1FC;
}

.simple-office-advantages__item:nth-child(2) .simple-office-advantages__item-body {
  width: 18.9rem;
}

.simple-office-advantages__item:nth-child(3) {
  width: 33.5rem;
  right: 0;
  top: -10rem;
}

.simple-office-advantages__item:nth-child(3) .simple-office-advantages__item-header {
  background-color: #0F1319;
}

.simple-office-advantages__item:nth-child(3) .simple-office-advantages__item-body {
  width: 27.3rem;
}

.simple-office-advantages__item:nth-child(4) {
  right: 0;
  top: 24.9rem;
}

.simple-office-advantages__item:nth-child(5) {
  top: calc(100% + 3.2rem);
  right: 8.1rem;
}

.simple-office-advantages__item:nth-child(5) .simple-office-advantages__item-body {
  width: 19.2rem;
}

.simple-office-advantages__item:nth-child(5)::before {
  content: '';
  display: block;
  width: 100%;
  height: 11.6rem;
  border-radius: 20px;
  background-color: #66D1FC;
  position: absolute;
  top: -1.6rem;
  right: -2.1rem;
  border: 1px solid #0F1319;
  z-index: -1;
}

.simple-office-advantages__item:nth-child(5)::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #0F1319;
  top: 1.4rem;
  position: absolute;
  right: -2.1rem;
  z-index: -1;
}

.simple-office-advantages__item:nth-child(6) {
  width: 41.8rem;
  top: calc(100% + 5.4rem);
  left: -5rem;
}

.simple-office-advantages__item:nth-child(6) .simple-office-advantages__item-body {
  width: 30.3rem;
  margin-right: 4.9rem;
}

.simple-office-advantages__item:nth-child(6)::before {
  content: url("../assets/icons/note-icon.svg");
  position: absolute;
  bottom: -2rem;
  right: 3.5rem;
}

.simple-office-advantages img {
  width: 114.9rem;
  height: 64.6rem;
}

.price {
  width: 90%;
  max-width: 120rem;
  margin-bottom: 24.3rem;
  position: relative;
  padding-top: 24.5rem;
}

.price::before {
  content: '';
  display: block;
  background-image: url("../assets/icons/paper-plane.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 35.4rem;
  height: 10.8rem;
  right: 8rem;
  top: 19.5rem;
}

.price h3 {
  text-align: start;
  margin-bottom: 4.9rem;
}

.price__info {
  margin-top: 10.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price__info-item {
  max-width: 49.9rem;
  width: 45%;
  padding: 17.4rem 7.4rem 17.1rem;
  border-radius: 20px 20px 20px 50px;
  border: 1px solid #0F1319;
  position: relative;
}

.price__info-item h5 {
  margin-bottom: 4.1rem;
}

.price__info-item p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.price__info-item h6 {
  margin: 5.9rem 0 1rem;
}

.price__info-item::before {
  content: url("../assets/icons/point-white-border.svg");
  height: 10rem;
  background-color: #66D1FC;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  border-radius: 19px 19px 0 0;
  border-bottom: 1px solid #0F1319;
}

.price__info-item img {
  position: absolute;
  left: -1.6px;
  bottom: -1px;
  z-index: 2;
}

.price__info-item::after {
  content: '';
  display: block;
  height: 137px;
  width: 73px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background-color: #FFFFFF;
  z-index: 1;
}

.price__info-item.other-version {
  padding-left: 5rem;
  padding-right: 2.2rem;
}

.price__info-item.other-version::before {
  content: url("../assets/icons/blue-point-black-border.svg");
  background-color: #FFFFFF;
}

.price__info-item.other-version::after {
  display: none;
}

.price__info-item.other-version img {
  bottom: -9.3rem;
  left: -12.4rem;
  width: 25.6rem;
  height: auto;
}

.price__info .info-item__price {
  position: absolute;
  -webkit-box-shadow: 4.62745px 4.62745px 46.2745px rgba(0, 0, 0, 0.1);
          box-shadow: 4.62745px 4.62745px 46.2745px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1.8rem 2rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 4rem;
  right: -5.9rem;
}

.price__info .info-item__price h5 {
  margin: 0;
}

.price__info .info-item__price div {
  margin-top: 3rem;
  margin-left: 1rem;
}

.our-clients {
  margin-bottom: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 120rem;
}

.our-clients h3 {
  margin-bottom: 10.4rem;
  position: relative;
}

.our-clients h3::before {
  content: url("../assets/icons/point-title.svg");
  position: absolute;
  left: calc(50% + 8rem);
  width: 7rem;
  z-index: -1;
}

.our-clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.our-clients__items:not(:last-child) {
  margin-bottom: 9.6rem;
}

.testing-system {
  width: calc(100% - 40rem);
  max-width: 120rem;
  position: relative;
}

.testing-system::before {
  content: url(../assets/icons/cloud-6.svg);
  position: absolute;
  top: -17rem;
  left: -10rem;
}

.testing-system__title {
  text-align: end;
  margin-bottom: 6rem;
  position: relative;
}

.testing-system__title::before {
  content: '';
  display: block;
  width: 31.8rem;
  height: 9.1rem;
  background-image: url("../assets/icons/outline.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -3.1rem;
  right: -2.5rem;
}

.testing-system h3 {
  text-align: start;
  margin-bottom: 10.5rem;
}

.testing-system__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.testing-system__fields input:not(:last-child) {
  margin-right: 7rem;
}

.testing-system button {
  margin-top: 7rem;
  width: 49rem;
  background-color: #3DBBEE;
  color: white;
}

.testing-system button:hover {
  background-color: #0F1319;
}

.testing-system form {
  height: 60rem;
}

.testing-system__request-complete {
  height: 60rem;
  display: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testing-system__request-complete h2 {
  margin-right: 16rem;
  color: #66D1FC;
}

.testing-system__request-complete div {
  margin-top: 15rem;
}

.testing-system__request-complete div h5 {
  margin-bottom: 3rem;
}

.testing-system.complete form {
  display: none;
}

.testing-system.complete .testing-system__request-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testing-system img {
  width: 112.8rem;
  height: auto;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  position: relative;
  bottom: 5rem;
  left: 0;
  z-index: -1;
}

.company-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0F1319;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7.1rem;
}

.company-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 120rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company-info__contacts {
  margin-top: 7.1rem;
}

.company-info__contacts a {
  color: #FFFFFF;
}

.company-info h5 {
  color: #FFFFFF;
  margin-bottom: 1.9rem;
}

.company-info__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9.4rem;
}

.company-info__legal img {
  width: 9.1rem;
  margin-bottom: 2.3rem;
}

.company-info__legal span {
  margin-bottom: 2.6rem;
}

.company-info__legal a {
  color: #FFFFFF;
}

.company-info__legal .where-download {
  margin: 1.8rem 0 7rem;
}

.company-info__legal .where-download a:first-child {
  margin-right: 3rem;
}

.company-info__legal .where-download a:first-child img {
  width: 10.6rem;
}

.company-info__legal .where-download a:last-child img {
  width: 10rem;
}

.company-info__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-info__contacts .sicial-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9rem;
}

.company-info__contacts .sicial-networks a {
  color: #FFFFFF;
}

.company-info__contacts .sicial-networks a:not(:last-child) {
  margin-right: 3.2rem;
}

.company-info__phone {
  margin: 0.9rem 0 3.9rem;
}

.company-info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8.9rem;
}

.company-info__links a {
  text-decoration: none;
}

.company-info__links a:not(:last-child) {
  margin-bottom: 3.6rem;
}

.company-info__links a:hover {
  text-decoration: underline;
}

.company-info__links .link-to-liis {
  color: #FFFFFF;
}

.company-info__links .link-to-simple-home {
  color: #FF7819;
}

.company-info__links .link-to-simple-office {
  color: #3DBBEE;
}

.company-info__links .link-to-simple-media {
  color: #DA1984;
}

.pop-up__testing-system {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 12.4rem 20rem;
  display: none;
}

.pop-up__testing-system .testing-system__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #66D1FC;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 5.7rem;
  position: relative;
}

.pop-up__testing-system .testing-system__form .close-btn {
  position: absolute;
  right: 4rem;
  top: 4rem;
  cursor: pointer;
}

.pop-up__testing-system .testing-system__form h3 {
  color: #FFFFFF;
  text-align: start;
  margin-bottom: 10rem;
}

.pop-up__testing-system .testing-system__form .testing-system__row {
  margin-bottom: 5rem;
}

.pop-up__testing-system .testing-system__form .testing-system__row input:first-child {
  margin-right: 9rem;
}

.pop-up__testing-system .testing-system__form button {
  width: 49rem;
}

.pop-up__testing-system .testing-system__form .testing-system__complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.pop-up__testing-system .testing-system__form .testing-system__complete h2, .pop-up__testing-system .testing-system__form .testing-system__complete h5, .pop-up__testing-system .testing-system__form .testing-system__complete h6 {
  color: #FFFFFF;
}

.pop-up__testing-system .testing-system__form .testing-system__complete h2 {
  margin-right: 15rem;
}

.pop-up__testing-system .testing-system__form .testing-system__complete h5 {
  margin-bottom: 3rem;
}

.pop-up__testing-system .testing-system__form .testing-system__complete div {
  margin-top: 3rem;
}

.pop-up__testing-system.active {
  display: block;
}

.pop-up__testing-system.complete form {
  display: none;
}

.pop-up__testing-system.complete .testing-system__complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */